<div class="container">
    <app-motos></app-motos>
    <app-add-moto></app-add-moto>
</div>



<!-- <input>
<button>Search</button>
<div>
    <h2>information display</h2>
    <p *ngFor="let moto of motos">{{moto.make}}</p>
</div> -->




<!-- 
    Add a motorcycle to inventory
Display the information associated with a motorcycle
Update a motorcycle in inventory
Remove a motorcycle from inventory
Search inventory for a motorcycle by VIN
List all motorcycles in inventory
Search inventory for all motorcycles by make
Search inventory for all motorcycles by type
Sell a motorcycle
 -->