<app-navbar></app-navbar>
<app-intro></app-intro>
<app-search id="search"></app-search>
<app-add-moto (addNewBike)="addNewMoto($event)"></app-add-moto>

<!-- 
    Add a motorcycle to inventory
Display the information associated with a motorcycle
Update a motorcycle in inventory
Remove a motorcycle from inventory
Search inventory for a motorcycle by VIN
List all motorcycles in inventory
Search inventory for all motorcycles by make
Search inventory for all motorcycles by type
Sell a motorcycle
 -->