<form class="add-form" (ngSubmit)="onSubmit()">
    <!-- two way data binidng [] for event/inputs () outputs -->
        <div class="form-control">
            <label for="make">Make</label>
            <input type="text" name="make" id="text" [(ngModel)]="make" placeholder="Add make of motorcycle"/>
        </div>
        <div class="form-control">
            <label for="model">Model</label>
            <input type="text" name="model" id="text" [(ngModel)]="model" placeholder="Model Type"/>
        </div>
        <div class="form-control">
            <label for="vin">VIN</label>
            <input type="text" name="vin" id="text" [(ngModel)]="vin" placeholder="VIN"/>
        </div>
        <div class="form-control">
            <label for="stock">Stock</label>
            <input type="text" name="vin" id="text" [(ngModel)]="stock" placeholder="stock"/>
        </div>
    
        <input type="submit" value="Save Task" class="btn btn-block" />
</form>