<div class="form-container" style="display: flex; flex-direction: column; justify-content: center; align-items: center; padding: 100px;" data-aos="fade-up">
    <form class="add-form" (ngSubmit)="onSubmit()">
        <!-- two way data binidng [] for event/inputs () outputs -->
            <h1>Add Motor</h1>
            <div class="form">
                <label for="make">Make</label>
                <input type="text" name="make" id="make" [(ngModel)]="make" placeholder="Add make of motorcycle"/>
            </div>
            <div class="form">
                <label for="type">Type</label>
                <input type="text" name="type" id="type" [(ngModel)]="type" placeholder="Model Type"/>
            </div>
            <div class="form">
                <label for="vin">VIN</label>
                <input type="text" name="vin" id="vin" [(ngModel)]="vin" placeholder="VIN"/>
            </div>
            <div class="form">
                <label for="stock">Stock</label>
                <input type="text" name="vin" id="stock" [(ngModel)]="stock" placeholder="stock"/>
            </div>
            <div class="button-container">
                
            </div>
            <input type="submit" value="New Motorcycle" class="btn btn-primary" />
    </form>
    <p style="color:red">(refresh page to see changes)</p>
</div>